build/*
compile_commands.json
update_compile_commands.py
*.swp
*.kdev4
kdev4
media/bunny_ICP_test.ply
media/bunny_ICP_test.txt
media/bunny_noised_ICP.ply
media/bunny_noised_ICP.txt
*.m
experiments/*.txt
experiments/*.ply

